/* VARIABLES */

    /* PALETAS  */
    $primary: #1679eb;
    $secondary: #2b2b2b;
    $accent: #60d6eb;
    $light: #fdfdfd;

   /*  FONT SIZES */
    $text-lg: 4.8em;
    $text-l: 3.2em;
    $text-m: 2.2em;
    $text-small: 1.9em;
    $text-s: 1.6em;
    $text-xs: 1em;

   /*  SPACINGS */

    $sp-xl: 12rem;
    $sp-l: 8rem;
    $sp-m: 5rem;
    $sp-s: 3.2rem;
    $sp-xs: 1.6rem;