/* PAGINA INDEX */

.glasstudio_resaltado {
    font-weight: bold;
    color: $primary;
}

.glasstudio_resaltadogrande {
font-weight: bold;
color: $primary;
font-size: $text-l;
}

.textonosotros {
    text-align: justify;
    font-size: $text-xs;
}

.fraseslogan {
    font-weight: bold;
    color: $primary;
    font-size: $text-m;
}

.texto_centrado {
    text-align: center;
}